*{
    font-family: 'Roboto Condensed', sans-serif;
}
.section-main{
    background: #f0efef;
}
label{
    text-align: center;
    width: auto;
}
form{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
#title{
    width: 100%;
    margin-top: 10px;
    height:40px;
    text-align: center;
}
#article{
    margin-top: 15px;
    width: 70vw;
    height: 100%;
    padding: 10px;
    resize: none;
}
form .btn {
    margin-top: 20px;
}

