@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300&display=swap');

*{
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
}
input, button{
  font-family: 'Roboto Condensed', sans-serif;
}
.btn{
  background-color: #DF0707;
  border: none;
  font-family: 'Roboto Condensed', sans-serif;
  padding: 10px;
  width: 150px;
  font-size: 15px;
  margin: 10px;
  border-radius: 7px;
  font-weight: 700;
  color: white;
  transition: opacity 0.2s;
}
.btn:hover{
  opacity: 0.9;
}